.morning-brew,
.morning-brew .navbar {
  background-color: #f8f9fa !important;
}

.morning-brew .nav-item .nav-link {
  color: #E33E19;
}

.morning-brew .nav-item.active .nav-link {
  color: black;
}

.buzzs {
  background-color: rgb(48, 73, 95) !important;
  color: white;
}

.buzzs .navbar {
  color: white;
}

.buzzs h4,
.buzzs .bi {
  color: white;
}

.aloha-beer,
.aloha-beer .navbar {
  background-color: #f8f9fa !important;
}

.aloha-beer .nav-link {
  color: black;
}

.aloha-beer .aloha-shop {
  color: #EDC601;
}