.morning-brew-logo {
  width: 200px;
  height: auto;
}

.morning-brew .nav-item {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2px;
  padding-bottom: 0.5rem;
  color: #E33E19;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  cursor: pointer !important;
}

.morning-brew .nav-item .nav-link {
  color: inherit;
  font: inherit;
}

.morning-brew .nav-item.active {
  padding-top: 0;
  color: black;
}
